$color-white: #fff;
$color-black: #000;
$color-green-light: #eef8f6;
$color-green-dark: #acc6c1;
$color-gray-medium: #9a9a9a;

$font-serif-general: "Times New Roman", serif;
$font-sans-general: Calibri, sans-serif;